<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id = "house" class="com.revature.beans.House" scope="prototype">
		<property name="wall" ref="collapsingWall"></property>
	</bean>
	
	<bean id = "wall" class="com.revature.beans.Wall" scope="prototype">
		<property name="material" value="Gold"/>
	</bean>
	
	<bean id = "collapsingWall" class="com.revature.beans.CollapsingWall" scope="singleton">
	</bean>

</beans>
